@model Harmic.Models.TbProduct

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Xoá Sản Phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Xoá Sản Phẩm</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tiêu Đê: </label>
                                @Html.DisplayFor(model => model.Title)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Alias: </label>
                                @Html.DisplayFor(model => model.Alias)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Mô Tả: </label>
                                @Html.DisplayFor(model => model.Description)
                            </div>
                            <div class="form-group mt-2">
                                <label for="exampleInputPassword1">Chi Tiết: </label>
                                    @Html.Raw(Model.Detail)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1"></label>
                                <div class="text-center">
                                    <img src="~/assets/images/product/medium-size/@Model.Image" alt="Product Image" style="max-width: 100%; height: auto;" />
                                </div>
                            </div>
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="ProductId" />
                                <input type="submit" value="Xoá" class="btn btn-danger" /> |
                                <a asp-action="Index" class="btn btn-primary">Quay lại</a>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>